html, body {
            height: 100%;
        }

body {
    margin: 0;
    padding: 0;
}

/*password 인증여부에 따라서 보이게 하려고 설정했어요*/
small {
    display: none;
}


button {
/*한글 세로 방지용으로 넣었어요*/
    white-space: nowrap;
    text-align: center;
/*동일한 크기 유지하게 넣었어요*/
    width: 90px;
}