<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>게시글 목록</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>내용</th>
            <th>사용감</th>
            <th>상태</th>
            <th>카테고리 ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.itemCondition}"></td>
            <td th:text="${item.itemStatus}"></td>
            <td th:text="${item.itemCategoryId}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
