.border-none {
    border: none !important;
}

.no-outline:focus {
    outline: none !important;
    box-shadow: none;
}

/* 폰트 사이즈 */
.fs-1 {
    font-size: 2.5rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-3 {
    font-size: 1.75rem;
}
.fs-4 {
    font-size: 1.5rem;
}
.fs-5 {
    font-size: 1.25rem;
}
.fs-6 {
    font-size: 1rem;
}


/* 알림 */
.alarm {
    position: relative;
}
.alarm::after {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
}
.alarm-read {
    color: darkgray;
}
.alarm-read:hover{
    color: gray;
    background-color: #fff;
}

/* 커서 */
.cursor {
    cursor: pointer;
}
.cursor-none{
    cursor: none;
}

.box-size{
    width: 300px;
    height: 300px;
}


/* 드롭 다운 */
.dropdown-item:active {
    background-color: #375a7f;
    color: white;
}

.dropdown-menu {
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 드롭다운 화살표 스타일 */
.dropdown .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 18px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.dropup .dropdown-menu::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 17%;
    transform: translateX(-50%);
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #ced4da transparent transparent transparent;
}


.margin-top{
    margin-top: 75px;
}

.height-100 {
    height: 100vh;
}

/* 상세 이미지 */
.detail-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
/* 캐러셀 버튼 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
    background-color: black;
    background-size: 70%, 70%;
    border-radius: 20px;
}

.carousel:hover .carousel-control-prev-icon,
.carousel:hover .carousel-control-next-icon {
    display: block;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {

}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: dimgray;
    background-size: 70%, 70%;
    border-radius: 20px;
}

/* 제품 카드 */
.product-card {
    transition: box-shadow 0.3s ease-in-out; /* 애니메이션 효과 추가 */
}
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}
.product-image {
    width: 100%;
    height: 250px;
    margin: auto 0;
    object-fit: cover;
}

/* favorite */
.favorite-btn,
.favorite-btn:focus,
.favorite-btn:active {
    outline: none;
    box-shadow: none;
    background-color: inherit;
    border: none
;
}

.favorite-btn > .bi-heart,
.favorite-btn > .bi-heart-fill {
    color: red;
}

/* 채팅 */
.chat-message {
    padding: 10px 16px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}
.chat-message.text {
    background-color: #f8f9fa;
}
.chat-message.image {
    background-color: transparent;
}
.chat-message-end {
    background-color: #f8d7da;
}
.chat-message.sent {
    background-color: #343a40;
    color: #fff;
    margin-left: auto;
    text-align: left;
}
.chat-message.received {
    background-color: #adb5bd;
    color: #000;
    margin-right: auto;
    text-align: left;
}
.chat-message-wrapper {
    display: flex;
    flex-direction: column;
}
.chat-message-wrapper.sent {
    align-items: flex-end;
}
.chat-message-wrapper.received {
    align-items: flex-start;
}
.chatSpace {
    overflow-y: auto;
    height: calc(100vh - 110px);
}