<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바꾸조</title>
    <link rel="icon" href="../../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootswatch Litera theme -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3/litera/bootstrap.min.css?ver=1.0" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="../../static/css/reset.css?ver=1.0" rel="stylesheet">
    <link href="../../static/css/custom.css" rel="stylesheet">
</head>
<body>

<th:block th:replace="~{/fragment/header :: headerFragment}"></th:block>

<div class="h-100">
    <!-- 헤더 -->
    <nav class="profile-header w-100 navbar navbar-expand-lg bg-body-tertiary" style="border: 1px solid #ddd">
        <div class="container-fluid">
            <!-- 프로필 -->
            <div class="profile d-flex h-auto cursor" th:onclick="'location.href=\'/item/detail/' + ${tradeInfoDTO.responseItemId} + '\''">
                <!-- 프로필 내용 -->
                <div class="labelSort d-flex align-items-center">
                    <img th:src="@{/images/}+${tradeInfoDTO.responseThumbnail}"
                         style="width: 55px; height: 55px; border-radius: 4px; object-fit: cover; border: 1px solid rgba(0,0,0,0.05);"
                         onerror="this.onerror=null; this.src='/static/img/logo_black.svg'">
                    <div class="flex-column justify-content-between align-items-center pl-2">
                        <p class="itemName pb-2" th:text="${tradeInfoDTO.responseTitle}">물품이름</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="userNickname mb-0 mr-2" style="font-size: 14px;" th:text="${tradeInfoDTO.responseNickname}">유저닉네임</p>
                            <p class="itemStatus mb-0 badge rounded-pill py-1 text-white" style="font-size: 14px;" th:text="${tradeInfoDTO.status.getKor()}">교환상태</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 프로필 -->
            <div class="profile d-flex h-auto cursor" th:onclick="'location.href=\'/item/detail/' + ${tradeInfoDTO.requestItemId} + '\''">
                <!-- 프로필 내용 -->
                <div class="labelSort d-flex align-items-center">
                    <img th:src="@{/images/}+${tradeInfoDTO.requestThumbnail}"
                         style="width: 55px; height: 55px; border-radius: 4px; object-fit: cover; border: 1px solid rgba(0,0,0,0.05);"
                         onerror="this.onerror=null; this.src='/static/img/logo_black.svg'">
                    <div class="flex-column justify-content-between align-items-center pl-2">
                        <p class="itemName pb-2" th:text="${tradeInfoDTO.requestTitle}">물품이름</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="userNickname mb-0 mr-2" style="font-size: 14px;" th:text="${tradeInfoDTO.requestNickname}">유저닉네임</p>
                            <p class="itemStatus mb-0 badge rounded-pill py-1 text-white" style="font-size: 14px;" th:text="${tradeInfoDTO.status.getKor()}">교환상태</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <!-- 메세지가 출력될 공간 -->
    <div class="chatSpace container mt-3 flex-column pb-1" id="msgArea">
        <div th:each="chat: ${chats}"
             th:classappend="${chat.memberId == #authentication.principal.id} ? 'chat-message-wrapper sent' : 'chat-message-wrapper received'">
            <div class="d-flex align-items-end">
                <p th:if="${chat.chatType.name().equals('TEXT') && chat.memberId == #authentication.principal.id}" class="chat-time sent"
                   th:text="${chat.getFormattedSendDate()}">21:49</p>
                <p th:if="${chat.chatType.name().equals('TEXT')}" th:text="${chat.text}"
                   th:classappend="${chat.memberId == #authentication.principal.id} ? 'chat-message sent text' : 'chat-message received text'"></p>
                <p th:if="${chat.chatType.name().equals('TEXT') && chat.memberId != #authentication.principal.id}" class="chat-time received"
                   th:text="${chat.getFormattedSendDate()}">21:49</p>
            </div>
            <p th:if="${chat.chatType.name().equals('TRADE_END')}" th:text="${chat.text}"
               th:classappend="chat-message-end"></p>
            <div class="d-flex align-items-end">
                <p th:if="${chat.chatType.name().equals('IMAGE') && chat.memberId == #authentication.principal.id}" class="chat-time sent"
                   th:text="${chat.getFormattedSendDate()}"></p>
                <img th:if="${chat.chatType.name().equals('IMAGE')}" th:src="'/chatImages/' + ${chat.imgSName}"
                     alt="chat image"
                     th:classappend="${chat.memberId == #authentication.principal.id} ? 'chat-message sent image' : 'chat-message received image'"/>
                <p th:if="${chat.chatType.name().equals('IMAGE') && chat.memberId != #authentication.principal.id}" class="chat-time received"
                   th:text="${chat.getFormattedSendDate()}"></p>
            </div>
        </div>
    </div>

    <!-- 모달 -->
    <div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="exchangeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deliveryModalLabel">배송조회</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="https://info.sweettracker.co.kr/tracking/5" method="post">
                        <div class="form-group" hidden="true">
                            <label for="t_key">API key</label>
                            <input type="text" class="form-control" id="t_key" name="t_key" value="rF2oGHDAwE5BEgjdXnO81Q" readonly>
                        </div>
                        <div class="form-group">
                            <label>택배사: </label>
                            <select id="delivery-code-select" class="deliveryCompany-selectpicker selectpicker" data-live-search="true" name="t_code">
                                <option value="" selected disabled>택배사 선택</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="t_invoice">운송장 번호</label>
                            <input type="text" class="form-control" name="t_invoice" id="t_invoice" placeholder="운송장 번호">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="delivery-select-btn" type="submit" class="btn btn-success">택배조회</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 메세지 전송 공간 -->
    <div class="msgArea w-90 fixed-bottom bg-white px-1">
        <div class="btn-group dropup d-flex align-items-center">
            <button type="button" class="btn dropdown-toggle no-outline no-caret" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-plus-lg fs-5"></i>
            </button>
            <div class="dropdown-menu dropup-menu">
                <form id="upload-file-form" enctype="multipart/form-data" hidden>
                    <input type="file" accept="image/jpeg,image/png, image/gif" id='inputFile' name="image"
                           onchange="fileGo()"/>
                    <input type="submit" id="fileSendBtn">
                </form>
                <button class="dropdown-item py-2" id="waybillButton" data-toggle="modal" data-target="#deliveryModal">배송 조회</button>
                <button class="dropdown-item py-2" id="sendImgBtn">이미지 전송</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item py-2" id="acceptButton">거래 완료 신청</button>
                <button class="dropdown-item py-2" id="rejectButton">거래 취소 신청</button>
                <button class="dropdown-item py-2" id="noneButton">요청 취소</button>
            </div>

            <div class="d-flex w-100 align-items-center mr-4">
                <input id='msg' type="text" class="form-control mr-3" placeholder="메세지를 입력하세요">
                <button class="btn btn-secondary" id="sendBtn">전송</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script>
    $(document).ready(function () {
        let tradeId = [[${tradeInfoDTO.id}]];
        let memberId = [[${#authentication.principal.id}]];

        let sockJs = new SockJS("/ws-stomp");
        let stomp = Stomp.over(sockJs);

        function scrollToBottom() {
            $('#msgArea').scrollTop($('#msgArea')[0].scrollHeight);
        }

        function sendMessage() {
            let messageText = $('#msg').val().trim();
            if (messageText !== '') {
                stomp.send('/pub/chat/message', {}, JSON.stringify({
                    tradeId: tradeId,
                    memberId: memberId,
                    text: messageText,
                    chatType: 'TEXT'
                }));
                $('#msg').val(''); // 입력 필드 비우기
                scrollToBottom();
            }
        }

        fileGo = function () {
            $.ajax({
                url: "/chat/imageUpload",
                type: "post",
                data: new FormData($("#upload-file-form")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    stomp.send('/pub/chat/message', {}, JSON.stringify({
                        tradeId: tradeId,
                        memberId: memberId,
                        imgName: data.imgName,
                        imgSName: data.imgSName,
                        chatType: 'IMAGE'
                    }));
                    scrollToBottom();
                },
                error: function () {
                    alert("실패");
                }
            });
            scrollToBottom();
        }

        function sendDecision(decision, resultText) {
            $.ajax({
                url: "/item/decision",
                method: "POST",
                data: {
                    "memberId": memberId,
                    "tradeId": tradeId,
                    "tradeDecision": decision
                },
                dataType: 'json',
                success: function (data) {
                    stomp.send('/pub/chat/message', {}, JSON.stringify({
                        tradeId: tradeId,
                        memberId: memberId,
                        text: resultText,
                        chatType: 'TEXT'
                    }));

                    if (data.tradeStatus != 'TRADING') {
                        let resText = data.tradeStatus == 'SUCCEED' ? '거래가 완료되었습니다' : '거래가 취소되었습니다';
                        stomp.send('/pub/chat/message', {}, JSON.stringify({
                            tradeId: tradeId,
                            memberId: memberId,
                            text: resText,
                            chatType: 'TRADE_END'
                        }));
                    }

                    return data;
                },
                error: function () {
                    alert("실패");
                }
            });
        }

        function getCurrentFormattedTime() {
            let now = new Date();

            let hours = String(now.getHours()).padStart(2, '0');
            let minutes = String(now.getMinutes()).padStart(2, '0');

            return `${hours}:${minutes}`;
        }

        function getStatusBadgeClass(status) {
            switch (status) {
                case '미거래':
                    return 'bg-primary';
                case '거래중':
                    return 'bg-secondary';
                case '거래완료':
                    return 'bg-dark';
                default:
                    return 'bg-primary';
            }
        }

        function updateProfileStatusBadges() {
            document.querySelectorAll('.itemStatus').forEach(function (statusElement) {
                const statusText = statusElement.textContent.trim();
                const badgeClass = getStatusBadgeClass(statusText);
                statusElement.classList.add(badgeClass);
            });
        }

        updateProfileStatusBadges();

        stomp.connect({}, function() {
            removeChatNoti([[${#authentication.principal.id}]], [[${tradeInfoDTO.id}]]);

            stomp.subscribe("/sub/chat/room" + tradeId, function(chat) {
                let content = JSON.parse(chat.body);
                let chatType = content.chatType;

                let str = '';
                if (chatType == 'TEXT') {
                    str = '<div class="chat-message-wrapper ' + (content.memberId == memberId ? 'sent' : 'received') + '">';
                    str += '<div class="d-flex align-items-end">';
                    if (content.memberId == memberId) {
                        str += '<p class="chat-time sent">' + getCurrentFormattedTime() + '</p>';
                    }
                    str += '<p class="chat-message text ' + (content.memberId == memberId ? 'sent' : 'received') + '">' + content.text + '</p>';
                    if (content.memberId != memberId) {
                        str += '<p class="chat-time received">' + getCurrentFormattedTime() + '</p>';
                    }
                    str += '</div></div>';
                } else if (chatType == 'IMAGE') {
                    str = '<div class="chat-message-wrapper ' + (content.memberId == memberId ? 'sent' : 'received') + '">';
                    str += '<div class="d-flex align-items-end">';
                    if (content.memberId == memberId) {
                        str += '<p class="chat-time sent">' + getCurrentFormattedTime() + '</p>';
                        str += '<img class="chat-message sent image" src="/chatImages/' + content.imgSName + '" alt="chat image" />';
                    } else {
                        str += '<img class="chat-message received image" src="/chatImages/' + content.imgSName + '" alt="chat image" />';
                        str += '<p class="chat-time received">' + getCurrentFormattedTime() + '</p>';
                    }
                    str += '</div></div>';
                } else if (chatType == 'TRADE_END') {
                    str = '<div class="chat-message-wrapper"><p class="chat-message chat-message-end">' + content.text + '</p></div>';

                    alert(content.text);
                    $('#sendDecisionBox').remove();
                    $('#sendBtn').attr("disabled", true);
                    $('#sendImgBtn').attr("disabled", true);
                    $('#msg').attr("disabled", true);
                    $('#file').attr("disabled", true);
                    $('#submit').attr("disabled", true);
                }

                $("#msgArea").append(str);
                removeChatNoti([[${#authentication.principal.id}]], [[${tradeInfoDTO.id}]]);
                scrollToBottom();
            });

            scrollToBottom();
        });

        $('#sendBtn').on('click', function () {
            sendMessage();
        });

        $('#msg').on('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault(); // Enter 키로 인한 기본 폼 제출 방지
                sendMessage();
            }
        });

        $('#sendImgBtn').on('click', function () {
            let input = document.getElementById("inputFile");
            input.click();
        });

        $('#acceptButton').on('click', function () {
            sendDecision('ACCEPT', '거래 완료를 요청했어요');
        });

        $('#rejectButton').on('click', function () {
            sendDecision('REJECT', '거래 취소를 요청했어요');
        });

        $('#noneButton').on('click', function () {
            sendDecision('NONE', '요청을 취소했어요');
        });

        removeChatNoti = function(memberId, tradeId) {
            $.ajax({
                url: "/notification/removeAllChat",
                method: "POST",
                data: {
                    "memberId": memberId,
                    "tradeId": tradeId,
                },
                dataType: 'json',
                success: function (data) {
                },
                error: function () {
                    alert("실패");
                }
            });
        };


        // 모달이 열릴 때마다 택배사 목록을 동적으로 불러오기
        $('#deliveryModal').on('show.bs.modal', function () {
            let myKey = 'rF2oGHDAwE5BEgjdXnO81Q';
            const selectPicker = $('.deliveryCompany-selectpicker');
            $.ajax({
                url: 'http://info.sweettracker.co.kr/api/v1/companylist?t_key=' + myKey,
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    let CompanyArray = data.Company;
                    selectPicker.empty();
                    selectPicker.append('<option value="" selected disabled>택배사 선택</option>');
                    CompanyArray.forEach(function(delivery) {
                        const option = `<option value="${delivery.Code}">${delivery.Name}</option>`;
                        selectPicker.append(option);
                    });
                },
                error: function(xhr, code, error) {
                    console.error('택배사 목록 불러오기 실패:', error);
                }
            });
        });

        //택배사 조회 버튼 클릭시 운송장 조회 화면으로 이동
        $('#delivery-select-btn').click(function() {
            let t_code = $('#delivery-code-select option:selected').attr('value');
            let t_invoice = $('#t_invoice').val(); // .attr('value') 대신 .val() 사용

            let myKey = 'rF2oGHDAwE5BEgjdXnO81Q';
            let baseUrl = 'http://info.sweettracker.co.kr/tracking/5';
            let url = `${baseUrl}?t_key=${myKey}&t_code=${t_code}&t_invoice=${t_invoice}`;

            window.open(url, "배송조회", "width=600,height=800,scrollbars=yes");
        });
    });
</script>
</body>
</html>
